<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
	ntegrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
        <div class="row header">
            <div class="col-12 ">
                hjhkhj
            </div>
        </div>
        <form action="/create-form" method="post" target="_blank">
        <div class="row d-flex justify-content-center p-3">


            <div class="col-12 col-md-9 col-lg-7 p-3 my-3" style="border: 1px solid rgb(207, 207, 207); border-radius: 10px;background-color: #f8f8f8;">
                <input class="col-12 mb-4 my-1" type="text" name="question" placeholder="Question">
                <div class="row options d-flex justify-content-center">
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionA" placeholder="Option - A" >
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionB" placeholder="Option - B" >
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionC" placeholder="Option - C" >
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionD" placeholder="Option - D">
                </div>
            </div>


            <div class="col-12 col-md-9 col-lg-7 p-3 my-3" style="border: 1px solid rgb(207, 207, 207); border-radius: 10px;background-color: #f8f8f8;">
                <input class="col-12 mb-4 my-1" type="text" name="question" placeholder="Question">
                <div class="row options d-flex justify-content-center">
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionA" placeholder="Option - A" >
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionB" placeholder="Option - B" >
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionC" placeholder="Option - C" >
                    <input class="col-10 col-md-9 col-lg-7 my-2" type="text" name="optionD" placeholder="Option - D">
                </div>
            </div>


         
        </div>
        <button type="submit">Submit</button>   
    </form>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>